$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.full {
  margin-top: 50px;
  height: 100vh;
  background: url('//www.becteroradio.com/upload/1446536162.png') no-repeat center center fixed;
  background-size: cover;
}

.lyric-section {
  font-size: 5em;
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  -webkit-text-stroke: 0.03em black;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap
}

.control-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}

.control-container > * {
  margin: 20px;
}

.control-container > input {
  width: 200px;
  height: 20px;
}

.lyric-container {
  width: 100%;
  position: relative;
  height: 1.6em;
}
.lyric-container > div {
  position: absolute;
}

.lyric {
  width: 100vw;
  line-height: 1.8em;
}

.lyric.-roman {
  font-size: 0.6em;
  text-transform: uppercase;
  color: #ed712f;
}

.lyric.-overlay {
  color: #3630f6;
  text-shadow: 0.05em 0.05em 0.01em black;
  -webkit-text-stroke: 0.025em white;
}

.lyric-slider {
  width: 40%;
  overflow-x: hidden;
}
